.App {
  height: 100vh;
  text-align: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.bedRoomComponent{
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: black;
    color: white;
}
